{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container section-margin">
    <div class="col-12 text-center section-title">
        <p> Shopping Bag </p>
     </div>  
    <div class="row shopping_bag_title text-center mt-3">
        <div class="col-3">
            <p><strong></strong></p>  
        </div>
        <div class="col-3">
            <p><strong>Product</strong></p>    
        </div>
        <div class="col-2">
            <p><strong>Price</strong></p> 
        </div>
        <div class="col-2">
            <p><strong>Qty</strong></p>  
        </div>
        <div class="col-2">
            <p><strong>Subtotal</strong></p>  
        </div>
    </div>
</div>

{% endblock %}

