{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container section-margin">
    <div class="col-12 text-center section-title">
        <p> Shopping Bag </p>
     </div> 
     {% if bag_items %} 
    <div class="row shopping_bag_title text-center mt-3">
        <div class="d-none d-lg-block col-lg-3">
            <p><strong></strong></p>  
        </div>
        <div class="col-lg-3 col-4">
            <p><strong>Product</strong></p>    
        </div>
        <div class="col-lg-2 col-2">
            <p><strong>Price</strong></p> 
        </div>
        <div class="col-lg-2 col-4">
            <strong>Quantity</strong>
        </div>
        <div class="col-lg-2 col-2">
            <p><strong>Subtotal</strong></p>  
        </div>
    </div>
    {% for item in bag_items %}
    <div class="row text-center mt-3">
        <div class="col-lg-3 d-none d-lg-block col-4">
            <img src="{{ item.product.image.url }}" class="shopping_img card-img-top" alt="Product image">  
        </div>
        <div class="col-lg-3 mt-3 col-4">
            <p><strong>{{item.product.name}}</strong></p>  
            <p>Art# {{item.product.sku}}</p> 
        </div>
        <div class="col-lg-2 margin-shopbag col-2">
            <p>{{item.product.price}} &pi;</p> 
        </div>
        <div class="col-lg-2 margin-shopbag col-4">
            <form class="" action="" method="POST">
                {% csrf_token %}
                <div class="col-12 input-group">
                    <button class="decrement_qty" data-item_id="{{ item_item_id }}" id="decrement_qty_{{item_item_id}}">
                      <span>
                        <i class="fas fa-minus"></i>
                      </span>
                    </button>
                    <input class="qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item_item_id }}" id="id_qty_{{item_item_id}}">
                    <button class="increment_qty" data-item_id="{{ item_item_id }}" id="increment_qty_{{item_item_id}}">
                      <span>
                        <i class="fas fa-plus"></i>
                      </span>
                    </button>
                  </div>
            </form> 
        </div>
        <div class="col-lg-2 margin-shopbag col-2">
            <p><strong>{{item.product.price}}  &pi;</strong></p>  
        </div>
    </div>
    {% endfor %}
    <div class="row text-center mt-3 shopbag-total">
        <div class="col-3"> 
        </div>
        <div class="col-3 mt-3"> 
        </div>
        <div class="col-2 margin-shopbag">
            <p></p> 
        </div>
        <div class="col-2 margin-shopbag">
            <p><strong>Total:</strong></p>  
        </div>
        <div class="col-2 margin-shopbag">
            <p><strong>{{total}} &pi;</strong></p>  
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}


{% block postloadjs %}
{{ block.user }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}

