{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}

<div class="container section-margin">
    <div class="col-12 text-center section-title">
        <p> Shopping Bag </p>
     </div> 
     {% if bag_items %} 
    <div class="row shopping_bag_title text-center mt-3">
        <div class="d-none d-lg-block col-lg-3">
            <p><strong></strong></p>  
        </div>
        <div class="col-lg-3 col-4">
            <p><strong>Product</strong></p>    
        </div>
        <div class="col-lg-2 col-2">
            <p><strong>Price</strong></p> 
        </div>
        <div class="col-lg-2 col-4">
            <strong>Quantity</strong>
        </div>
        <div class="col-lg-2 col-2">
            <p><strong>Subtotal</strong></p>  
        </div>
    </div>
    {% for item in bag_items %}
    <div class="row text-center mt-3">
        <div class="col-lg-3 d-none d-lg-block col-4">
                    {% if item.product.image %}
              <img src="{{item.product.image.url}}" class="card-img-top" alt="{{product.name}}">
          {% else %}
          <a href="" >
            <img src="{{MEDIA_URL}}onimg2.png" class="card-img-top" alt="{{product.name}}">
          </a>
          {% endif %} 
        </div>
        <div class="col-lg-3 mt-3 col-4">
            <p><strong>{{item.product.name}}</strong></p>  
            <p>Art# {{item.product.sku}}</p> 
        </div>
        <div class="col-lg-2 margin-shopbag col-2">
            <p>{{item.product.price}} &pi;</p> 
        </div>
        <div class="col-lg-2 margin-shopbag mx-auto col-4">
        <form class="form-quantity update_form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                {% csrf_token %}
                <div class="col-12 input-group">
                    <button class="decrement_qty" data-item_id="{{ item.item_id }}" id="decrement_qty_{{item.item_id}}">
                      <span>
                        <i class="fas fa-minus"></i>
                      </span>
                    </button>
                    <input class="qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{item.item_id}}">
                    <button class="increment_qty" data-item_id="{{ item.item_id }}" id="increment_qty_{{item.item_id}}">
                      <span>
                        <i class="fas fa-plus"></i>
                      </span>
                    </button>
                  </div>
            </form> 
            <div class="add-remove-button">
                <table>
            <tr> <a class="btn update-link">Update </a></tr>
            <tr> <a class="btn remove-item" id="remove_{{item.item_id}}">Remove </a></tr>
                </table>
        </div>
        </div>
        <div class="col-lg-2 margin-shopbag col-2">
            <p><strong>{{item.product.price | calc_subtotal:item.quantity}}  &pi;</strong></p>  
        </div>
        
    </div>
    {% endfor %}
    <div class="row text-center mt-3 shopbag-total">
        <div class="col-3"> 
        </div>
        <div class="col-3 mt-3"> 
        </div>
        <div class="col-2 margin-shopbag">
            <p></p> 
        </div>
        <div class="col-2 margin-shopbag">
            <p><strong>Total:</strong></p>  
        </div>
        <div class="col-2 margin-shopbag">
            <p><strong>{{total}} &pi;</strong></p>  
        </div>
    </div>
    <div class="text-center mt-3 ">
        <a href="{% url 'products'  %}" class="btn shop-now-button">
          <span> Keep Shopping </span>
        </a>
        <a href="{% url 'checkout' %}" class="btn add_to_bag_button">
            <span> Place Order </span>
          </a>
      </span>
    </div>
    {% endif %}
</div>

{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">

    
    // Update quantity on click
    $('.update-link').click(function(e) {
        e.preventDefault();
        // var form = $(this).prev('.update_form');
        var form = $(this).parent().prev();
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];

        // previous url was incorrect
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        // we will use fetch instead
        fetch(url, {
            method: "POST",
            headers: new Headers({
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrfToken,
                    'X-Requested-With': 'XMLHttpRequest',
                }),
        })
        .then(response => {
            console.log(response);
            window.location.reload();
        })
        .catch(e => console.log(e))

        // $.post(url, data => {
        //     console.log(data)
        // })
        //  .done(function() {
        //      location.reload();
        //  });
    })
    </script>
{% endblock %}

