{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="index-main">
<div id="indexcarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="media/pexels-sergey-katyshkin-6978517.jpg" class="d-block w-100 mx-auto pic1" alt="...">
      </div>
      <div class="carousel-item">
        <img src="media/pexels-sergey-katyshkin-7671614.jpg" class="d-block w-100 mx-auto pic2" alt="...">
      </div>
    </div>
  </div>
</div>
  
{% endblock %}