{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container section-margin">
  <div class="row">
  <div class="col-12 text-center section-title">
    <p> Thank you </p>
 </div> 
 <div class="col-12 text-center">
 <p> Your order was successfully delivered. Please see your orderinformation sent to <strong>{{ order.email }}</strong></p>
</div>
<div class="col-12 text-center">
    <div class="text-center mt-3 ">
        <a href="{% url 'products'  %}" class="btn shop-now-button">
          <span> Keep Shopping </span>
        </a>
</div>
    </div>
  </div>

{% endblock %}



