{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container section-margin">
  <div class="row">
  <div class="col-12 text-center section-title">
    <p> Shopping Bag </p>
 </div> 
 <div class="col-12 col-lg-6 text-center">
 <p> Please fill in the form below to complete your order</p>
 <form action="{% url 'checkout' %}" method="POST" id="payment-form">
   {% csrf_token %}
   <fieldset class="px-3 mb-5">
     <legend class="fieldset-label">Details</legend>
     {{order_form.full_name | as_crispy_field }}
     {{order_form.email | as_crispy_field}}
   </fieldset>
   <fieldset class="px-3 mb-5">
     <legend>Delivery</legend>
     {{order_form.phone_number | as_crispy_field}}
     {{order_form.street_adress | as_crispy_field}}
     {{order_form.delivery_adress| as_crispy_field }}
     {{order_form.postcode | as_crispy_field}}
     {{order_form.town_or_city | as_crispy_field}}
     {{order_form.county | as_crispy_field}}
     {{order_form.country | as_crispy_field}}
   </fieldset>
   <fieldset class="px-3">
    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
    <!-- A Stripe card element will go here -->
    <div class="mb-3" id="card-element"></div>
    <!-- Used to display form errors -->
    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
    <!-- Pass the client secret to the view so we can get the payment intent id -->
    <input type="hidden" value="{{ client_secret}}" name="client_secret">
</fieldset>
   <div class="text-center my-3">
     You choosen following items: <br>{% for item in bag_items %} {{item.quantity}} pcs of {{item.product.name}}, {% endfor %} and will be charged with {{ grand_total }} &pi; 
   </div>
   <div class="text-center">
    <a href="{% url 'view_bag' %}" class="btn shop-now-button">
      <span> Adjust Bag </span>
    </a>
      <input type="submit" value="Complete Order" class="btn add_to_bag_button">
  </span>
</div>
 </form>
</div>
<div class="col-6 d-none d-lg-block" >
  <div class="row mt-3">
    <span class="text-center">
    <p><strong>Order Summary</strong></p>
  </span>
  {% for item in bag_items %}
  <div class="col-4"></div>
  <div class="col-4"><p><strong>Product</strong></p></div>
  <div class="col-4"><strong>SubTotal</strong></div>
  <div class="col-4 image_checkout">
  {% if item.product.image %}
  <img src="{{item.product.image.url}}" class="card-img-top" alt="{{product.name}}">
{% else %}
<a href="">
<img src="/media/onimg2.png" class="card-img-top" alt="{{product.name}}">
</a>
{% endif %} 
</div>
<div class="col-4 product_checkout">
  <p><strong>{{item.product.name}}</strong><br>
    <strong>art#:</strong> {{item.product.sku}} <br>
      <strong>Qty:</strong> {{item.quantity}} pcs</p>
</div>
<div class="col-4 product_checkout">
  <p><strong>{{item.product.price | calc_subtotal:item.quantity}}  &pi;</strong></p>
</div>
  {% endfor %}
  <div class="col-4"></div>
  <div class="col-8 border-top border-dark product_checkout">
    <p>Order Total:<strong>{{ total }}  &pi;</strong><br>
    Delivery Cost: <strong>{{ delivery_cost }}  &pi;</strong> <br>
    Grand Total:<strong>{{ grand_total }} &pi; </strong> </p>
  </div>
 </div>
</div>
    </div>
  </div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key"}}
{{ client_secret|json_script:"id_client_secret"}}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}

