/* Header */

header{
  /*background-color: #f3e1fe;*/
  background-image: url("/media/pexels-sergey-katyshkin-7671614.jpg");
  background-color: white;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  /*border-bottom: black 1px solid;*/
  border-top: white 10px solid;
  border-right: white 40px solid;
  border-left: white 40px solid;
  border-bottom: white 1px solid;
}

.input-group{
  height: 10px;
}

.logo{
  color:white;
  text-shadow: #04132c 1px 1px;
  font-family: "Oleo Script";
  font-size: 48px;

}

.mypage_icon{
  color: #cebfc4;
  /*color:#ff981f;
  text-shadow: #8a1712 0.2px 0.2px;*/
}

.shopbag:hover, .mypage_icon:hover{
  color:rgb(212, 245, 214);
  /*text-shadow: cornsilk 0.2px 0.2px;*/
}

.purchase_text{
color:#95e643;
}

.empty_text{
  color:#e63b3b;
}


.nav-link, #hamburgermenu {
  color: #cebfc4 !important;
    font-size: 18px;
  font-family: "Oleo Script";
  /*color:#8a1712;
  text-shadow: #ff711f 0.01px 0.01px;*/
}

.nav-bg-color{
  background-color: white;
}

.search-field-wrap{
 margin-top: 5vh;
}

.account-button-wrap{
  margin-top: 4vh;
}

/* side-menu for links in hamburger menu*/

.dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }
/* Index img carousel */
#indexcarousel{
  position: relative;
  border:white 40px solid;
  height:100vh;
}
.carousel-inner{
  height: 100%;
}
.pic{
  height: 100vh;
  width:100vw;
}

.shop-now{
  margin-top: 36vh;
  margin-left: 9vw;
  position: absolute;
  z-index: 9;
}

.shop-now p{
  padding:6px;
  font-size: 16px;
  font-family: "Oleo Script";
  color:#494a3d;
  background-color: white;
  /*border: gray 2px solid;*/
  opacity: 0.6;
}


.shop-now-button{
align-items: center;
font-family: "Arial";
font-size: 14px;
font-weight: bold;
color: #1f2b1e;
background-color: #95e643;
border: solid 1px #232b22;
}

.shop-now-button:hover{
  background-color: #84c541;
  color: white;
  border: solid 1px #697966;
}
/* product section */

.section-margin{
  margin-top: 30vh;
  margin-bottom: 30vh;
  border-right: white 42px solid;
  border-left: white 42px solid;
  border-bottom: white 10px solid;
}

.section-title{
  color:#252529;
  text-shadow: #04132c 1px 1px;
  font-family: "Oleo Script";
  font-size: 48px;
  border-bottom: gray 0.1vh solid;
}

.card{
  background-color: whitesmoke;
  margin-top:4vh;
  border: gray 2px solid;
}

.card-title{
  height:5vh;
  padding-top: 1vh;
}

.card-img-top{
  height:40vh;
  padding-left: 3vh;
  padding-right: 3vh;
}

.no_image{
  height:40vh;
  background-color: lightgrey;
  border: white solid 4vh;
  background-image: url("/media/noimg.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 3vh;
  padding-right: 3vh; 
}

.no_image p {
  padding-top: 40%;
  color: red;
  font-weight: bold;

}

.product_description{
  height: 20vh;
  font-size:12px;
  border-bottom: gray 2px solid;
}

/* product_detail page */

.section-detail-margin{
  margin-top: 40vh;
  border-right: white 42px solid;
  border-left: white 42px solid;
  border-bottom: white 10px solid;
}

.product_image {
  margin-top: 4vh;
  height: 60vh;
}

.add_to_bag_button{
  align-items: center;
font-family: "Arial";
font-size: 14px;
font-weight: bold;
color: #f1e9e9;
background-color:  #555361;
border: solid 1px #100e19;
}

.shop-button-margin{
  margin-top: 40px ;
}

/* shoppingbag */

.shopping_img{
  height:20vh;
}

.margin-shopbag{
  margin-top:6vh;
  align-items: center;
  align-content: center;
}


.shopping_bag_title{
border-bottom: solid 1px #100e19;;
}

.shopbag-total{
  border-bottom: solid 1px #100e19;;
  border-top: solid 1px #100e19;; 
}

.add-remove-button{
  margin-top: 26px;
}

.form-quantity{
  margin:auto !important;
  display: table !important;
}

.update-link{
  color:blue;
  font-size: 14px;
}

.remove-item{
  color:red;
  font-size: 14px;
}

/* fixed top navbar only on medium and up */
@media (max-width: 992px) {

  .product_detail_form{
    margin:auto !important;
    display: table !important;
  }

  .account-button-wrap{
    margin-top: 0vh;
  }

  .logo{
    font-size: 20px;
  }

  .purchase_text span, .empty_text span{
    font-size: 12px;
    }
  
.shop-now{
  margin-left: 14vw;
}
  .shopbag{
    font-size: 12px;
    }
  .shopbag i{
    text-shadow: black 0.4px 0.4px

  }

  .mypage_icon, #hamburgermenu {
      color:white !important;
  text-shadow: #04132c 1px 1px !important;
}

.section-margin{
  margin-top: 32vh;
}

.section-title{
  font-size: 32px;
}

.section-detail-margin{
margin-top: 30vh;
}

.product_detail{
  align-items: center;
  text-align: center;
}
.product_detail h3{
  font-size: 18px;
}

.product_detail h6, .product_detail p{
  font-size: 12px;
}

.product_detail h5{
  font-size: 14px;
  font-weight: bold;
}

.shopping_bag_title{
  font-size: 12px;
}

.margin-shopbag{
  font-size: 10px;
}

.update-link, .remove-item {
  font-size: 8px;
}

}