<div class="dropdown col-2 text-center">
  <a class="btn dropdown-toggle fs-4" href="#" role="button" id="hamburgermenu" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="hamburgermenu">
    <li><a class="dropdown-item" href="{% url 'home' %}">Home</a> </li>
    <li>
      <a class="dropdown-item" href="#">
        All Products &raquo;
      </a>
      <ul class="dropdown-menu dropdown-submenu">
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        Amulettes &raquo;
      </a>
      <ul class="dropdown-menu dropdown-submenu">
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=amulettes&sort=price&direction=asc">By Price</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=amulettes&sort=rating&direction=asc">By Rating</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=amulettes&sort=category&direction=asc">By Category</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=amulettes">All Amulettes</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        All Elements &raquo;
      </a>
      <ul class="dropdown-menu dropdown-submenu">
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=elements&sort=price&direction=asc">By Price</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=elements&sort=rating&direction=asc">By Rating</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=elements&sort=category&direction=asc">By Category</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=elements">All Elements</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        Special Offers &raquo;
      </a>
      <ul class="dropdown-menu dropdown-submenu">
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=new_arrivals">New Arrival</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=deals">Deal</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=clearance">Clearance</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'products' %}?category=clearance,deals,new_arrivals">All Special</a>
        </li>
      </ul>
    </li>
  </ul>
</div>