<div class="dropdown col-2 mt-2 text-center">
  <a class="btn dropdown-toggle fs-4" href="#" role="button" id="hamburgermenu" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="hamburgermenu">
    <li><a class="dropdown-item" href="#">Home</a> </li>
    <li>
      <a class="dropdown-item" href="#">
        All Products &raquo;
      </a>
      <ul class="dropdown-menu dropdown-submenu">
        <li>
          <a class="dropdown-item" href="#">By Price</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">By Rating</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">By Category</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">All Products</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        Amulettes &raquo;
      </a>
      <ul class="dropdown-menu dropdown-submenu">
        <li>
          <a class="dropdown-item" href="#">By Price</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">By Rating</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">By Category</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">All Amulettes</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        All Elements &raquo;
      </a>
      <ul class="dropdown-menu dropdown-submenu">
        <li>
          <a class="dropdown-item" href="#">By Price</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">By Rating</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">By Category</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">All Elements</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        Special Offers &raquo;
      </a>
      <ul class="dropdown-menu dropdown-submenu">
        <li>
          <a class="dropdown-item" href="#">New Arrival</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Deal</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Clearance</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">All Special</a>
        </li>
      </ul>
    </li>
  </ul>
</div>