<div class="col-4 col-lg-3 mt-2">
    <a class="btn mypage_icon dropdown-toggle fs-4" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-user"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Product Management</a>
      <a class="dropdown-item" href="#">Logout</a>
      <a class="dropdown-item" href="#">Register</a>
      <a class="dropdown-item" href="#">Login</a>
    </ul>
    <a href="" class="shopbag btn text-center fs-3"> <i class="fas fa-shopping-basket"></i></a>
</div>