<div class="col-6 col-lg-3 account-button-wrap">
    <a class="btn mypage_icon dropdown-toggle fs-5" href="#" role="button" id="useroption" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-user"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="useroption">
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a class="dropdown-item" href="#">Product Management</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
        <a class="dropdown-item" href="{% url 'account_logout'%}">Logout</a>
      {% else %}
        <a class="dropdown-item" href="{% url 'account_signup'%}">Register</a>
        <a class="dropdown-item" href="{% url 'account_login'%}">Login</a>
      {% endif %}
    </ul>
    <a href="{% url 'view_bag' %}" class="shopbag btn text-center fs-5 {% if grand_total %} purchase_text {% else %} empty_text {% endif %}"> <i class="fas fa-shopping-bag"></i>
    <span> 
      {% if grand_total %}
        {{grand_total|floatformat:2}}&pi;
      {% else %}
        0.00 &pi;
      {% endif %}
    </span>
    </a>
</div>