<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" autohide="false">
  <div class="toast-header success-toast">
      {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body success-toast2">
    {% if grand_total %}
    <p> Total added products: {{ product_count }}</p>
    <div class="row">
        {% for item in bag_items %}
        <div class="col-12 my-1">
                 {% if item.product.image %}
                 <img src="{{item.product.image.url}}" class="card-img-top-toast" alt="{{product.name}}">
             {% else %}
             <a href="" >
               <img src="/media/onimg2.png" class="card-img-top-toast" alt="error image">
             </a>
             {% endif %} 
        </div>
        <div class="col-12">
            <p><strong>{{item.product.name}}</strong></p>
            <p>art#: {{item.product.sku}}</p>
            <p>Qty: {{item.quantity}}</p>
        </div>
        <hr>
        {% endfor %}
    </div>
    <p><strong>Total Cost:
   <span class="float-right">${{ total | floatformat:2 }}</span></strong>
   </p>
    {% endif %}
  </div>
</div>